.home-container {
  background-color: #ffffff;
}

.hero-section {
  background-image: url('C:/Study/Learn_Code/CNPMM/Project/WebPetProject_FE/WebPetProject/src/pictures/Home.jpg');
}

.additional-content {
  background-color: #f9f9f9;
}
